#game-screen {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    z-index: 1;
}
#pauseOverlay {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s;
}
#winText {
    z-index: -1; 
    transition: opacity 0.2s; 
    opacity: 0; margin-top: 15%; 
    text-align: center; 
    font-size: 2em;
    width: 100%; height: 100%;
    position: absolute;
    color: rgb(235,235,235);
    font-family: 'Orbitron', sans-serif; 
}
#pauseMenu {
    line-height: 2.75em;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    margin: 10% 37.5%;
    background-color: rgb(20,20,20);
    position: absolute;
    height: 50%;
    width: 25%;
    opacity: 0;
    z-index: -1; 
    transition: opacity 0.2s;
}
#stats {
    font-size: 1.5em;
    color: rgb(235,235,235);
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    margin-left: 2%;
    margin-top: 2%;
    width: 25%;
    height: 25%;
    background-color: rgb(40,40,40);
    border-radius: 1em;
}
#health {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
#healthbar {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    background-color: rgb(34, 145, 14);
}
#interactprompt {
    transition: opacity 0.2s;
    z-index: -1;
    opacity: 0;
    top: 55%;
    left: 12.5%;
    color: rgb(20,20,20);
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    position: absolute;
    width: 2em;
    line-height: 2em;
    background-color: rgb(235,235,235);
    border-radius: 0.3em;
    border: 0.2em solid rgb(20,20,20);
}
#ammo {
    margin-left: 5%;
    margin-top: 15%;
}
.button {
    text-align: center;
    flex: 0 0 40%;
    background-color: rgb(235,235,235);
    margin: 78% 5% 5% 5%;
    height: 15%;
    border-radius: 0.75em;
    transition: background-color 0.2s;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(195,195,195);
}
body {
    background-color: rgb(20,20,20);
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
html {
    height: 100%;
}

#menu-screen {
    transition: opacity 1s;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-image: url("sprites/menu_background.gif");
}
#menu_fade {
    z-index: 1;
    position: absolute;
    padding-left: 5%;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
    color: rgb(132, 243, 215);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
    height: 100%;
    background-image: url("sprites/menu_fade.png");
}
#options {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.optionButton {
    transition: background-color 0.2s;
    line-height: 2em;
    color: rgb(235,235,235);
    font-size: 0.75em;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    flex-grow: 1;
}

.optionButton:hover {
    cursor: pointer;
    background-color: rgb(114, 114, 114);
}
#menu_overlay {
    position: absolute;
    z-index: -1;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s;
    width: 100%;
    height: 100%;
}
#leaderboard {
    margin: 5% 31%;
    border-radius: 2em;
    position: absolute;
    z-index: 0;
    background-color: rgb(30,30,30);
    opacity: 0;
    transition: opacity 0.2s;
    width: 35em;
    height: 35em;
}
#leaderboardList {
    font-family: 'Orbitron', sans-serif;
    color: rgb(235,235,235);
    overflow: auto;
    margin: 5% auto;
    width: 90%;
    height: 90%;
}
.closeButton {
    transition: background-color 0.1s;
    font-size: 2em;
    text-align: center;
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(214, 0, 0);
    color: rgb(10, 10 ,10);
    margin: 5% 89%;
    width: 1em;
    line-height: 1em;
}
.closeButton:hover {
    cursor: pointer;
    background-color: rgb(179, 0, 0);
}
#changeUsername {
    margin: 5% 31%;
    border-radius: 2em;
    position: absolute;
    z-index: 0;
    background-color: rgb(30,30,30);
    opacity: 0;
    transition: opacity 0.2s;
    width: 35em;
    height: 35em;
}
#playerNameInputDiv {
    margin: 0 35%;
}
#playerNameText {
    font-family: 'Orbitron', sans-serif;
    color: rgb(235,235,235);
}

#playerNameSubmit {
    transition: background-color 0.1s;
    margin: 15% auto;
    text-align: center;
    line-height: 2.5em;
    width: 20%;
    background-color: rgb(132, 243, 215);
    font-family: 'Orbitron', sans-serif;
    color: rgb(10, 10 ,10);
}
#playerNameSubmit:hover {
    cursor: pointer;
    background-color: rgb(107, 194, 172);
}
#retryButton {
    opacity: 0;
    z-index: -1;
    left: 44.5%;
    top: 70%;
    position: absolute;
    background-color: rgb(132, 243, 215);
    color: rgb(10, 10 ,10);
    padding: 0.5% 1.5%;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    transition: background-color 0.2s;
}
#retryButton:hover {
    cursor: pointer;
    background-color: rgb(107, 194, 172);
}
#returnButton {
    opacity: 0;
    z-index: -1;
    left: 38%;
    top: 80%;
    position: absolute;
    background-color: rgb(132, 243, 215);
    color: rgb(10, 10 ,10);
    padding: 0.5% 1.5%;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    transition: background-color 0.2s;
}
#returnButton:hover {
    cursor: pointer;
    background-color: rgb(107, 194, 172);
}
#instructions {
    text-align: center;

    font-family: 'Orbitron', sans-serif;
    color: rgb(235,235,235);
    position: absolute;
    width: 100%;
}